apiVersion: v1
kind: Service
metadata:
  name: mosquitto
spec:
  type: NodePort
  selector:
    app: mosquitto
  ports:
    - name: mqtts
      port: 8883
      targetPort: 8883
      nodePort: 31884
      protocol: TCP
    - name: websocket
      port: 9001
      targetPort: 9001
      nodePort: 31885
      protocol: TCP
