apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: home-assistant
namespace: home-automation
resources:
  - deployment.yaml
  - namespace.yaml
  - pvc.yaml
  - service.yaml
  - avahi.yaml
