apiVersion: v1
kind: Service
metadata:
  name: home-assistant
  namespace: home-automation
  labels:
    app: home-assistant
spec:
  type: NodePort
  ports:
    - port: 8123
      targetPort: 8123
      nodePort: 30812 # Optional: pick a specific port, otherwise K8s assigns one
      name: http
  selector:
    app: home-assistant
